body {
  font-family: 'Arial', sans-serif;
  /* background-color: darkkhaki; */
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=7d58eb&c2=d3a417&gt=l&gd=dtl
*/
background-repeat: no-repeat;
background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #7D58EB;
background: linear-gradient(135deg, #7D58EB, #D3A417);
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  
}

h1 {
  text-align: center;
  color: #333;
}

.alert {
  background-color: #14b919;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-radius: 10px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  background-color: #1f89cf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span {
  flex-grow: 1;
}

button:hover, input[type="checkbox"]:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.con-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  animation: slideDown 0.5s ease-out;
  z-index: 999;
}

.con-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  padding: 10px;
  margin: 0 220px;
  background-color: #19e5c0;
  color: #fff;
  text-align: center;
  animation: slideDown 0.5s ease-out;
  z-index: 999;
}

.completed-task {
  text-decoration: line-through;
}
.main-container{
  width: 600px;
  height: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 1px 10px rgba(0,0,0,0.5);
}